.content {
  max-width: 700px;
  margin: 0 auto 0;
  padding: 0 10px;
}

.content form {
  width: fit-content;
  padding: 10px 10px;
  background-color: #24292e;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.content form input {
  max-width: 170px;
  font-size: 14px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-right: 10px;
}

.content form select {
  margin-right: 10px;
  padding: 6px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
}

.content form button {
  width: 50px;
  font-size: 14px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

.content form button:hover {
  background-color: #fff;
  color: #000;
}