header#main-header {
    width: 100%;
    height: 60px;
    background-color: #24292e;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}