.beatmaps article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: monospace;
  }
  
  .beatmaps article a {
    height: 45px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #212121;
    border-radius: 5px;
    background: none;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms;
  }
  
  .beatmaps article a:hover {
    background: #212121;
    color: #fff;
  }
  
  .beatmaps article p {
    color: #999;
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
  }
  